<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration >
	
  <typeAliases>
  	<!-- Account 관련  -->
  	<typeAlias type="jsh.project.board.account.domain.Account" alias="Account"/>
  	<typeAlias type="jsh.project.board.account.dto.response.ResponseAccountInfoDto" alias="ResponseAccountInfoDto"/>
  	<typeAlias type="jsh.project.board.account.dto.request.RequestEmailDto" alias="RequestEmailDto"/>
  	<typeAlias type="jsh.project.board.account.dto.request.RequestAccountCreateDto" alias="RequestAccountCreateDto"/>
  	<typeAlias type="jsh.project.board.account.dto.request.RequestFindAccountDto" alias="RequestFindAccountDto"/>
  	<typeAlias type="jsh.project.board.account.dto.response.ResponseFindAccountDto" alias="ResponseFindAccountDto"/>
  	<typeAlias type="jsh.project.board.account.dto.request.RequestEmailConfirmDto" alias="RequestEmailConfirmDto"/>
  	<typeAlias type="jsh.project.board.account.dto.request.RequestPasswordResetDto" alias="RequestPasswordResetDto"/>
  	<typeAlias type="jsh.project.board.account.dto.request.RequestPasswordDto" alias="RequestPasswordDto"/>
  	<typeAlias type="jsh.project.board.account.dto.AuthDto" alias="AuthDto"/>
  	
  	<!-- Article 관련 -->
  	<typeAlias type="jsh.project.board.article.domain.Article" alias="Article"/>
  	<typeAlias type="jsh.project.board.article.dto.response.ResponseArticleDto" alias="ResponseArticleDto"/>
  	<typeAlias type="jsh.project.board.article.dto.response.ResponseArticleDetailDto" alias="ResponseArticleDetailDto"/>
  	<typeAlias type="jsh.project.board.article.dto.response.ResponseArticleUpdateDto" alias="ResponseArticleUpdateDto"/>
  	<typeAlias type="jsh.project.board.article.dto.request.RequestArticlesDto" alias="RequestArticlesDto"/>
  	<typeAlias type="jsh.project.board.article.dto.request.RequestArticleDeleteDto" alias="RequestArticleDeleteDto"/>
  	
  	<!-- Article Like 관련 -->
  	<typeAlias type="jsh.project.board.article.dto.request.like.RequestLikeDto" alias="RequestLikeDto"/>
  	
  	<!-- Article Reply 관련 -->
  	<typeAlias type="jsh.project.board.reply.domain.Reply" alias="Reply"/>
  	<typeAlias type="jsh.project.board.reply.dto.ResponseReplyDto" alias="ResponseReplyDto"/>
  	
  </typeAliases>
  <typeHandlers>
  	<typeHandler handler="jsh.project.board.global.handler.CustomDateHandler"/>
  </typeHandlers> 

</configuration>