<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

  <!-- 패키지.domain클래스 까지 입력 -->
  <typeAliases>
  	<!-- Account 관련  -->
  	<typeAlias type="jsh.project.board.account.dto.Account" alias="Account"/>
  	<typeAlias type="jsh.project.board.account.dto.AccountResponseDto" alias="AccountResponseDto"/>
  	<typeAlias type="jsh.project.board.account.dto.AccountCreateDto" alias="AccountCreateDto"/>
  	<typeAlias type="jsh.project.board.account.dto.AccountFindRequestDto" alias="AccountFindRequestDto"/>
  	<typeAlias type="jsh.project.board.account.dto.AccountFindResponseDto" alias="AccountFindResponseDto"/>
  	<typeAlias type="jsh.project.board.account.dto.AccountAuthRequestDto" alias="AccountAuthRequestDto"/>
  	<typeAlias type="jsh.project.board.account.dto.AccountPasswordResetRequestDto" alias="AccountPasswordResetRequestDto"/>
  	<typeAlias type="jsh.project.board.account.dto.AccountPasswordDto" alias="AccountPasswordDto"/>
  	<typeAlias type="jsh.project.board.account.dto.AuthDto" alias="AuthDto"/>
  	
  	
  	<!-- Article 관련 -->
  	<typeAlias type="jsh.project.board.article.dto.Article" alias="Article"/>
  	
  </typeAliases>

  <!-- mapper의 위치를 잡아준다. -->
  <mappers>
    <!-- 게시판 관련 -->
  	<mapper resource="/sqls/board/boardMapper.xml"/>
  	<mapper resource="/sqls/account/accountMapper.xml"/>
  	<mapper resource="/sqls/account/authMapper.xml"/>
  	
  </mappers>

</configuration>