<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="accountMapper">	
	<resultMap type="Account" id="AccountResultMap">
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="nickname" column="nickname"/>
		<result property="authentication" column="authentication"/>
		<result property="enabled" column="enabled"/>
		<result property="role" column="user_role"/>
	</resultMap>

	<insert id="save" parameterType="AccountCreateDto">
		INSERT INTO 
			user_table values(#{email},#{password},#{nickname},0,1,#{role})
	</insert>

	<select id="findByEmail" parameterType="java.lang.String" resultMap="AccountResultMap">
		SELECT 
			*
		FROM 
			user_table
		WHERE 
			email = #{email}
	</select>
	
	<select id="accountInfo" parameterType="java.lang.String" resultType="AccountCheckDto">
		SELECT
			email,
			authentication
		FROM
			user_table
		WHERE
			email = #{email}
	</select>
	
	<select id="checkEmail" parameterType="java.lang.String" resultType="int">
		SELECT 
			count(email)
		FROM 
			user_table
		WHERE 
			email = #{email}
	</select>
	
	<update id="emailChecked" parameterType="java.lang.String">
		UPDATE 
			user_table
		SET
			authentication = 1
		WHERE
			email = #{email}
	</update>
	
</mapper>