<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="accountMapper">	
	<resultMap type="Account" id="AccountResultMap">
		<result property="id" column="id"/>
		<result property="email" column="email"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="birth" column="birth"/>
		<result property="nickname" column="nickname"/>
		<result property="locked" column="locked"/>
		<result property="enabled" column="enabled"/>
		<result property="role" column="user_role"/>
		<result property="failureCount" column="failure_count"/>
		<result property="regdate" column="regdate"/>
		<result property="lastLoginDate" column="last_login_date"/>
	</resultMap>

	<insert id="insertAccount" parameterType="Account">
		INSERT INTO 
			account_table values(
				account_seq.NEXTVAL,
				#{email},
				#{password},
				#{name},
				#{birth},
				#{nickname},
				0,
				0,
				#{role},
				0,
				SYSDATE,
				NULL
			)
	</insert>

	<select id="selectAccount" parameterType="java.lang.String" resultMap="AccountResultMap">
		SELECT 
			id,
			email,
			password,
			name,
			birth,
			nickname,
			locked,
			enabled,
			user_role,
			failure_count,
			regdate,
			last_login_date
		FROM 
			account_table
		WHERE 
			email = #{email}
	</select>
	
	<select id="selectAccountInfo" parameterType="int" resultType="ResponseAccountInfoDto">
		SELECT 
			id,
			nickname
		FROM 
			account_table
		WHERE 
			id = #{id}
	</select>
	
	<update id="updateAccount" parameterType="Account">
		UPDATE 
			account_table
		SET 
			nickname = #{nickname}
		WHERE
			id = #{id} AND
			email = #{email}
	</update>
	
	<update id="updatePassword" parameterType="Account">
		UPDATE 
			account_table
		SET 
			locked = 0,
			password = #{password}
		WHERE
			email = #{email}
	</update>
	
	<select id="selectAccounts" parameterType="RequestFindAccountDto" resultType="ResponseFindAccountDto">
		SELECT
			email,
			regdate
		FROM 
			account_table
		WHERE
			name = #{name} AND
			birth = #{birth}
	</select>
	
	<update id="updateLoginDate" parameterType="java.lang.String">
		UPDATE
			account_table
		SET	
			last_login_date = SYSDATE
		WHERE
			email = #{email}
	</update>
	
	<select id="selectFailureCount" parameterType="java.lang.String" resultType="int">
		SELECT
			failure_count
		FROM
			account_table
		WHERE
			email = #{email}
	</select>
	
	<update id="updateFailureCount" parameterType="map">
		UPDATE 
			account_table
		SET 
			failure_count = #{failureCount}
		WHERE
			email = #{email}
	</update>
	
	<!-- 계정 잠금(locekd = 1) -->
	<update id="updateLocked" parameterType="map">
		UPDATE 
			account_table
		SET 
			locked = #{locked},
			failure_count = 0
		WHERE
			email = #{email}
	</update>
	
	<select id="selectEmailCount" parameterType="RequestEmailDto" resultType="int">
		SELECT 
			count(email)
		FROM 
			account_table
		WHERE 
			email = #{email}
	</select>
	
	<update id="updateEnabled" parameterType="java.lang.String">
		UPDATE 
			account_table
		SET
			enabled = 1
		WHERE
			email = #{email}
	</update>
	
</mapper>