<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="authMapper">
	<resultMap type="AuthDto" id="AuthDtoResultMap">
		<result property="email" column="email"/>
		<result property="authKey" column="auth_key"/>
		<result property="authOption" column="auth_option"/>
		<result property="expired" column="expired"/>
		<result property="expiredDate" column="expried_date"/>
	</resultMap>
	<!-- <insert id="create" parameterType="AccountEmailDto"> -->
	<insert id="create" parameterType="AuthDto">
		INSERT INTO 
			auth_table
		VALUES(
			auth_seq.NEXTVAL,
			#{email},
			#{authKey},
			#{authOption},
			0,
			null
		)
	</insert>
	
	<select id="findByEmail" parameterType="java.lang.String" resultMap="AuthDtoResultMap">
		SELECT
			email,
			auth_key,
			auth_option,
			expired,
			expired_date
		FROM
			auth_table
		WHERE
			email = #{email} AND
			expired = 0
	</select>
	
	<select id="authCheck" parameterType="map" resultType="int">
		SELECT
			count(email)
		FROM
			auth_table
		WHERE
			email = #{email} AND
			expired = 0 AND
			auth_option = #{authOption}
	</select>
	
	<update id="update" parameterType="AuthDto">
		UPDATE auth_table
		SET auth_key = #{authKey}
		WHERE
			email = #{email} AND
			auth_option = #{authOption} AND
			expired = 0
	</update>
	
	<update id="expired" parameterType="RequestEmailConfirmDto">
		UPDATE auth_table
		SET expired = 1,
			expired_date = SYSDATE
		WHERE
			email = #{email} AND
			auth_key = #{authKey} AND
			auth_option = #{authOption}
	</update>
</mapper>
