<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">	
	
	<select id="selectTotalCount" parameterType="RequestArticlesDto" resultType="int">
		SELECT
			count(id)
		FROM
			article_table
		<choose>
			<when test="query != null and query !=''">
		WHERE 
			article_table.title LIKE '%'||#{query}||'%' AND
			article_table.category = LOWER(#{category}) AND
			article_table.importance = 0
			</when>
			<when test="accountId != 0">
		WHERE 
			article_table.account_id = #{accountId} AND
			article_table.category != 'notice'
			</when>
			<otherwise>
		WHERE 
			article_table.category = LOWER(#{category})
			</otherwise>
		</choose>
	</select>
	
	<select id="selectNoticeTotalCount" resultType="int">
		SELECT
			count(id)
		FROM
			article_table
		WHERE
			category = LOWER('notice') AND
			importance = 1
	</select>
	
	<select id="selectNoticeArticles" parameterType="map" resultType="ResponseArticleDto">
	<![CDATA[
		SELECT 
			b.id,
			b.accountId,
			b.category,
			b.title,
			b.nickname,
			b.viewCount,
			replyCount,
			likeCount,
			b.regdate	
		FROM 
			(SELECT 
				rownum AS rnum,
				a.id,
				a.accountId,
				a.category,
				a.title,
				a.nickname,
				a.viewCount,
				replyCount,
				likeCount,
				a.regdate
			FROM
				(SELECT 
					article_table.id,
					article_table.ACCOUNT_ID AS accountID,
					article_table.category,
					article_table.title,
					account_table.nickname,
					article_table.view_count AS viewCount,
					count(reply_table.id) AS replyCount,
					count(article_like_table.id) AS likeCount,
					article_table.regdate
				FROM 
					article_table JOIN account_table ON article_table.account_id = account_table.id 
							 LEFT JOIN reply_table ON article_table.id = reply_table.article_id
							 LEFT JOIN article_like_table ON article_table.id = article_like_table.article_id 
				WHERE 
					category = LOWER('notice') AND
					article_table.importance = 1
				GROUP BY article_table.id, article_table.account_id, article_table.category, article_table.title, account_table.nickname,article_table.view_count, article_table.regdate
				ORDER BY regdate DESC)a
			WHERE rownum <= #{endCount})b
		WHERE b.rnum >= #{startCount}
		]]>
	</select>
	
	<select id="selectArticles" parameterType="RequestArticlesDto" resultType="ResponseArticleDto">
		<![CDATA[
		SELECT 
			b.id,
			b.accountId,
			b.category,
			b.title,
			b.nickname,
			b.viewCount,
			replyCount,
			likeCount,
			b.regdate	
		FROM 
			(SELECT 
				rownum AS rnum,
				a.id,
				a.accountId,
				a.category,
				a.title,
				a.nickname,
				a.viewCount,
				replyCount,
				likeCount,
				a.regdate
			FROM
				(SELECT 
					article_table.id,
					article_table.account_id AS accountId,
					article_table.category,
					article_table.title,
					account_table.nickname,
					article_table.view_count AS viewCount,
					count(reply_table.id) AS replyCount,
					count(article_like_table.id) AS likeCount,
					article_table.regdate
				FROM 
					article_table JOIN account_table ON article_table.account_id = account_table.id 
							 LEFT JOIN reply_table ON article_table.id = reply_table.article_id 
							 LEFT JOIN article_like_table ON article_table.id = article_like_table.article_id
				]]>
				<choose>
					<when test="query != null and query != ''">
				WHERE 
					article_table.title LIKE '%'||#{query}||'%' AND
					article_table.category = LOWER(#{category}) AND
					article_table.importance = 0
					</when>
					<when test="accountId != 0">
				WHERE 
					  article_table.account_id = #{accountId}
					</when>
					<otherwise>
				WHERE 
					  article_table.category = LOWER(#{category})
					</otherwise>
				</choose>
		<![CDATA[
				GROUP BY 
					article_table.id, article_table.account_id, article_table.category, article_table.title, account_table.nickname,article_table.view_count, article_table.regdate
				ORDER BY 
					${sort} DESC
				)a
			WHERE 
				rownum <= #{endCount}
			)b
		WHERE 
			b.rnum >= #{startCount}
		]]>

	</select>
</mapper>