<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">	
	<resultMap type="ArticleResponseDto" id="articleResponseResultMap">
		<result property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="nickname" column="nickname"/>
		<result property="viewCount" column="view_count"/>
		<result property="replyCount" column="reply_count"/>
		<result property="likeCount" column="like_count"/>
		<result property="regdate" column="regdate"/>
	</resultMap>
	
	<select id="totalCount" parameterType="RequestArticlesDto" resultType="int">
		SELECT
			count(id)
		FROM
			article_table
		<if test='query != null and category != null'>
		WHERE 
			title LIKE '%'||#{query}||'%' AND
			category = #{category}
		</if>
		<if test='query == null and category != null'>
		WHERE 
		  	category = #{category}
		</if>
		<if test='accountId != 0'>
		WHERE 
			 account_id = #{accountId}
		</if>
	</select>

	<select id="article" resultType="Article">
		SELECT 
			*
		FROM 
			article_table
		WHERE 
			id = #{id}
	</select>
	
	<select id="articles" parameterType="RequestArticlesDto" resultType="ArticleResponseDto">
		<![CDATA[
		SELECT 
			c.id,
			c.title,
			c.nickname,
			c.view_count AS viewCount,
			replyCount,
			count(article_like_table.id) AS likeCount,
			c.regdate
		FROM 
			(SELECT 
				b.id,
				b.title,
				b.nickname,
				b.view_count,
				count(reply_table.id) AS replyCount,
				b.regdate
			FROM
				(SELECT 
					rownum AS rnum,
					a.id,
					a.title,
					a.nickname,
					a.view_count,
					a.regdate
				FROM
					(SELECT 
						article_table.id,
						article_table.title,
						account_table.nickname,
						article_table.view_count,
						article_table.regdate
					FROM 
						article_table JOIN account_table ON article_table.account_id = account_table.id
					]]>
					<if test='query != null and category != null'>
					WHERE 
						article_table.title LIKE '%'||#{query}||'%' AND
						article_table.category = #{category}
					</if>
					<if test='query == null and category != null'>
					WHERE 
					  	article_table.category = #{category}
					</if>
					<if test='accountId != 0'>
					WHERE 
					  	article_table.account_id = #{accountId}
					</if>
					
			<![CDATA[	
					)a
				WHERE rownum <= #{endCount})b LEFT JOIN reply_table ON b.id = reply_table.article_id
			WHERE b.rnum >= #{startCount}
			GROUP BY b.id, b.title, b.nickname,b.view_count, b.regdate)c LEFT JOIN article_like_table ON c.id = article_like_table.article_id
		GROUP BY c.id, c.title, c.nickname,c.view_count ,c.regdate, replyCount
		ORDER BY ${sort} DESC
		]]>
	</select>
	
	
</mapper>