<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="replyMapper">

	<select id="selectReplys" parameterType="int" resultType="ResponseReplyDto">
		SELECT 
			reply_table.id,
			reply_table.article_id AS articleId,
			reply_table.account_id AS accountId,
			account_table.nickname,
			reply_table.content,
			reply_table.regdate,
			reply_table.modify_date AS modifyDate,
			reply_table.enabled
		FROM
			reply_table JOIN account_table ON reply_table.account_id = account_table.id
		WHERE 
			reply_table.article_id = #{articleId}
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT 
		INTO 
			reply_table 
		VALUES(
			reply_seq.nextval,
			#{articleId},
			#{accountId},
			#{content},
			SYSDATE,
			NULL,
			#{enabled}
		)
	</insert>
	
	<update id="updateReply" parameterType="Reply">
		UPDATE
			reply_table
		SET
			content = #{content},
			modify_date = SYSDATE
		WHERE
			id = #{id} AND
			article_id = #{articleId} AND
			account_id = #{accountId} AND
			enabled = 1
	</update>
	
	<update id="deleteReply" parameterType="Reply">
		UPDATE
			reply_table
		SET
			enabled = #{enabled}
		WHERE
			id = #{id} AND
			article_id = #{articleId} AND
			account_id = #{accountId} AND
			enabled = 1
	</update>
	
	<delete id="deleteReplys" parameterType="int">
		DELETE
		FROM
			reply_table
		WHERE
			article_id = #{articleId}
	</delete>
	
</mapper>